[Desktop Entry]
Name=Android-Finalizer
Comment=Completes remaining steps for the Android Environment
Exec=/usr/share//finalizer/repo.sh
Icon=/usr/share/icons/finalizer.svg
Terminal=true
Type=Application
Name[en_US.utf8]=Android.desktop
Name[en_US.UTF-8]=AndroidFinalizer
